.loadingIcon {
  display: flex;
  justify-content: center;
  margin-top: 140px;
}

.buttonTop {
  position: fixed;
  bottom: 16vh;
  right: 0.5vw;
  border: 0;
  z-index: -1;
  display: none;
  /* Animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.buttonTopShow {
  display: unset !important;
  z-index: 1;
}

.textColor {
  color: gray;
}

.section {
  margin: 25px 0;
  padding: 25px 0;
}

.courseCard {
  opacity: 0.8;
}

.courseCard:hover {
  opacity: 1;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.02);
}

.cards {
  display: flex;
}

.courseCards {
  justify-content: space-evenly;
}

.studentCards {
  justify-content: space-between;
}

.lecturerCards {
  overflow-y: hidden;
  overflow-x: scroll;
}

.lecturerCards::-webkit-scrollbar {
  display: none;
}

.contact {
  background-color: #ebf5fb;
  border-radius: 5%;
}

.contactDarkMode {
  background-color: #154360;
  border-radius: 5%;
}

.footer > .MuiSvgIcon-root {
  margin: 0 10px;
}
