.loadingIcon {
    display: flex;
    justify-content: center;
    margin-top: 140px;
}

.buttonTop {
    position: fixed;
    top: 80%;
    left: 85%;
    border: 0;
    z-index: -1;
    display: none;

    /* Animations */
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.buttonTopShow {
    display: unset !important;
    z-index: 1;
}

.youtubeVideo {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.studentCards {
    display: flex;
    justify-content: space-between;
}

.lecturerCards {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.lecturerCards::-webkit-scrollbar {
    display: none;
}

LecturerCard {
    transition: transform 450ms;
}

LecturerCard:hover {
    transform: scale(1.08);
}