@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  outline: none !important;
}

.react-chatbot-kit-chat-container {
  position: fixed !important;
  bottom: 6vh;
  right: 5vw;
  width: 350px !important;
  z-index: 2;
}

.react-chatbot-kit-chat-bot-message {
  margin-left: 5px !important;
}

.MuiList-padding {
  padding-top: 0 !important;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: none ;
}

.image-gallery-slides {
  height: 40vh;
}

.image-gallery-slide .image-gallery-image {
  object-fit: cover;
  position: absolute;
  left: 0;
  top: -20vh;
}
